{% extends 'nav_foot.html' %}
{% load static %}
{% block content %}
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('static/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
        <div class="col-md-9 ftco-animate pb-5">
            <p class="breadcrumbs"><span class="mr-2">Home <i class="ion-ios-arrow-forward"></i></span> <span>List of Computers<i class="ion-ios-arrow-forward"></i></span></p>
          <h1 class="mb-3 bread">List Of Computers</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftco-cart">
          <div class="container">
              <div class="row">
              <div class="col-md-12 ftco-animate">
                  <div class="car-list">
                      <table class="table">
                          <thead class="thead-primary">
                            <tr class="text-center">
                              <th class="bg-primary heading">S.n</th>
                              <th class="bg-dark heading">Brand name</th>
                              <th class="bg-dark heading">Brand logo</th>
                              <th class="bg-dark heading">Generation</th>
                              <th class="bg-dark heading">Ram</th>
                              <th class="bg-dark heading">Quantity</th>
                              <th class="bg-dark heading">Rate</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="">

                              <td class="price">
                                <div>
                                    <h3>
                                        <span class="num"> 10.99</span>
                                    </h3>
                                </div>
                            </td>

                              <td class="product-name">
                                  <h3>Cheverolet SUV Car</h3>
                              </td>
                              
                              <td class="price">
                                  <div>
                                      <h3>
                                          <span class="num"> 10.99</span>
                                      </h3>
                                  </div>
                              </td>
                              
                              <td class="price">
                                <div>
                                    <h3>
                                        <span class="num"> 10.99</span>
                                    </h3>
                                </div>
                            </td>

                            <td class="price">
                              <div>
                                  <h3>
                                      <span class="num"> 10.99</span>
                                  </h3>
                              </div>
                            </td>

                            <td class="price">
                              <div>
                                  <h3>
                                      <span class="num"> 10.99</span>
                                  </h3>
                              </div>
                          </td>

                          <td class="price">
                            <div>
                                <h3>
                                    <span class="num"> 10.99</span>
                                </h3>
                            </div>
                        </td>
                            </tr><!-- END TR-->
                          </tbody>
                      </table>
                  </div>
              </div>
              </div>
          </div>
  </section>
                          
{% endblock %}